.login{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: lightgray;
   
    .title{
        font-weight: 500;
        margin-bottom: 30px;
    }
    .card{
     
        width: 500px;
        margin: 0 auto;
        padding: 3.84rem 3.07rem 1.53rem;
        border-radius: 10px;
        overflow: hidden;
        background-color: #fff;
        position: relative;
      
    }
}